<div class="about">
  <div class="container">


    <div class="headshot">
      <div class="col-md-5" align="center"><%=link_to image_tag("headshot2.png") %>
    </div>

    <div class="bio">
      <div class="col-md-6" align="center">
        <h1>Hello!</h1>
        <p>Nice to meet you!
          <br>
          <p>Hi, thanks for stopping by. I am an aspiring Ruby on Rails developer and attending Launch Academy
          to advance my learning. I have been coding for about 6 months and have learned some basics in Javascript,
          jQuery, HTML, CSS, Ruby on Rails and AngularJS.</p>
          <br>
          <p>Previously, I spent 5+ years as a public relations professional with experience integrated, strategic
          communications campaigns across public affairs, consumer and technology industries. I hope to bring my passion
          for communications and strategy to a career in web development. I am excited to continue learning and share the experience
          with you at the blog listed above. </p>
    </div>
  </div>
</div>
