<div class="about">
    <div class="container"

    <div class="photo">
        <%= image_tag "Elise_Fitzgerald.jpg" %>
    </div>
        
        <div class="bio">
            <p>Hi, I'm Elise, a freelance web designer/developer with a <br>
            passion for story telling, based in Brooklyn, NY. I bring together <br>
            my background in public relations and story telling <br>
            when creating spaces online. </p>
        </div>
        
    </div>
</div>
