<div class="about">
  <div class="headshot">
    <%=link_to image_tag("headshot2.png") %>
  </div>
      <div class="bio">
            <p>Hi, I'm Elise, a freelance web designer/developer with a <br>
            passion for story telling, based in Brooklyn, NY. I bring together <br>
            my background in public relations and story telling <br>
            when creating spaces online. </p>
      </div>
</div>
