
<div class="main">
    <div class="container">
        <h1>Hi I'm <span>Elise.</span> <br>I tell stories & <br> build websites.</h1>
       <div class="btn">
           <p><%= link_to "View My Work", portfolio_path(@portfolio) %></p>

        </div>
    </div>
</div>
