// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {

}

/* Header */
.header h1 {
    float: right;
    color: #9C0A60;
}

.header .navigation li {
    display: inline;
    padding: 20px;
    float: left;
    color: #9C0A60;
}
.navigation a {
  color: #9C0A60;
}

/* Main */
.main {
  width: 100%;
  height: 700px;
  background-image: url("https://scontent-lga.xx.fbcdn.net/hphotos-xfp1/v/t1.0-9/1912075_10201528837171313_1008756976_n.jpg?oh=30d5ffe9b0caacf51c53f860401c07c5&oe=55772E53");
  background-size: cover;
}

.main h1 {
  color: #333333;
  text-align: right;
  padding-top: 30px;
  margin-right: -20px;
}
.main h1 span {
  color: #9C0A60;
  text-align: right;
}

.main .btn a {
  text-align: center;
  color:#fff;
  border: 3px solid #36343F;
  background: #36343F;
  padding: 5px 20px;
  margin-left: 1000px;
}

/* Supporting Projects Grid*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #f01251;
}

.thumbnail {
  padding: 0;
  box-shadow:0px 2px 2px #000;
  border-radius:0px;
  border:0px;
}
.navs ul {
  float:none;
  margin: 0 auto;
  display: table;
  table-layout: fixed;
}

.navs li {
  border-radius: 5%;
  background-color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: inline;
}

.angular img, .rails img, .jquery img {
  height: 250px;
  width: 400px;
  padding: 10px;
  display: block;
}

.title {
  text-align: center;
  padding: 10px;
}


/* About Page */
.about {
  margin: auto;
  display: block;
  padding: 100px;
}

.about .bio {
  float: right;
  text-align: left;
  color: #9C0A60;
  padding-right: 40px;
}

/* Footer */
.footer {
  padding: 20px;
}
.footer li {
    display: inline;
    padding: 10px;
    float: right;
}
.footer li img {
  width: 25px;
}

.footer p {
    float: left;
    size: 20px;
    color: #36343F;
}
